---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=Weather Key&exclude=minutely&lat=27.7676008&lon=-82.64029149999999&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":27.77,"lon":-82.64,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1591796796,"sunrise":1591785253,"sunset":1591835175,"temp":85.86,"feels_like":92.62,"pressure":1017,"humidity":74,"dew_point":76.6,"uvi":11.83,"clouds":40,"visibility":16093,"wind_speed":8.05,"wind_deg":80,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1591794000,"temp":85.86,"feels_like":93.81,"pressure":1017,"humidity":74,"dew_point":76.6,"clouds":40,"wind_speed":5.93,"wind_deg":99,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},{"dt":1591797600,"temp":84.51,"feels_like":90.37,"pressure":1017,"humidity":69,"dew_point":73.22,"clouds":22,"wind_speed":6.15,"wind_deg":98,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},{"dt":1591801200,"temp":84.83,"feels[...]
