---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=adf3c726f4cfb7f71063d6a883393b9c&exclude=minutely&lat=27.7676008&lon=-82.64029149999999&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":27.77,"lon":-82.64,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1591488006,"sunrise":1591439661,"sunset":1591489477,"temp":74.07,"feels_like":78.33,"pressure":1013,"humidity":94,"dew_point":72.23,"uvi":12.88,"clouds":90,"visibility":4828,"wind_speed":8.05,"wind_deg":230,"weather":[{"id":502,"main":"Rain","description":"heavy
        intensity rain","icon":"10d"},{"id":701,"main":"Mist","description":"mist","icon":"50d"}],"rain":{"1h":14.83}},"hourly":[{"dt":1591488000,"temp":74.07,"feels_like":72.95,"pressure":1013,"humidity":94,"dew_point":72.23,"clouds":90,"wind_speed":17.58,"wind_deg":146,"weather":[{"id":502,"main":"Rain","description":"heavy
        intensity rain","icon":"10d"}],"rain":{"1h":14.83}},{"dt":1591491600,"temp":75.51,"feels_like":73.13,"pressure":1013,"humidity":91,"dew_point":72.7,"clouds":95,"wind_speed":20.27,"wind_deg":150,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10n"}],"rain":{"1[...]
