---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=Weather Key&exclude=minutely&lat=27.7676008&lon=-82.64029149999999&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":27.77,"lon":-82.64,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1591544838,"sunrise":1591526057,"sunset":1591575903,"temp":83.88,"feels_like":90.3,"pressure":1013,"humidity":94,"dew_point":81.97,"uvi":13.02,"clouds":90,"visibility":16093,"wind_speed":14.99,"wind_deg":170,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1591542000,"temp":83.88,"feels_like":87.57,"pressure":1013,"humidity":94,"dew_point":81.97,"clouds":90,"wind_speed":19.84,"wind_deg":187,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"rain":{"1h":1.64}},{"dt":1591545600,"temp":82.38,"feels_like":83.21,"pressure":1013,"humidity":87,"dew_point":78.12,"clouds":95,"wind_speed":20.29,"wind_deg":176,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},{"dt":1591549200,"temp":82.02,"feels_like":82.76,"pressure":1014,"humidity":83,"dew_point":76.35,"clouds":98,"wind_speed":18.5,"wind_deg":172,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},{"dt":1591552800[...]
