---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=Unsplash Key&per_page=1&query=denver%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=Unsplash Key&page=1598&per_page=1&query=denver+co>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=Unsplash Key&page=2&per_page=1&query=denver+co>;
        rel="next"
      X-Total:
      - '1598'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"total":1598,"total_pages":1598,"results":[{"id":"N_tcaOWTSQQ","created_at":"2018-03-16T14:30:45-04:00","updated_at":"2020-05-14T01:25:55-04:00","promoted_at":"2018-03-17T15:03:13-04:00","width":4983,"height":3322,"color":"#EFAB51","description":"Pikes
        Peak","alt_description":"landscape photography of black mountains","urls":{"raw":"https://images.unsplash.com/photo-1521224911436-5b591bffc321?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE0MDYzOX0","full":"https://images.unsplash.com/photo-1521224911436-5b591bffc321?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0MDYzOX0","regular":"https://images.unsplash.com/photo-1521224911436-5b591bffc321?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE0MDYzOX0","small":"https://images.unsplash.com/photo-1521224911436-5b591bffc321?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0MDYzOX0","thumb":"https://images.unsplash.com/photo-1521224911436-5b591bffc321?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE0MDYzOX0"},"links":{"self":"https://api.unsplash.com/photos/N_tcaOWTSQQ","html":"https://unsplash.com/photos/N_tcaOWTSQQ","download":"https://unsplash.com/photos/N_tcaOWTSQQ/download","download_location":"https://api.unsplash.com/photos/N_tcaOWTSQQ/download"},"categories":[],"likes":90,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"n-LmmgqvQ7k","updated_at":"2020-04-18T15:28:44-04:00","username":"jbrown1276","name":"Jeff
        Brown","first_name":"Jeff","last_name":"Brown","twitter_username":"jbrown1276","portfolio_url":"http://www.jeffbrownphoto.com","bio":"Jeff
        Brown is a Chicago-based photographer currently focusing on commercial and
        portrait work. \r\nAnother Insta account I have is username @jeffbrownphoto","location":"Chicago","links":{"self":"https://api.unsplash.com/users/jbrown1276","html":"https://unsplash.com/@jbrown1276","photos":"https://api.unsplash.com/users/jbrown1276/photos","likes":"https://api.unsplash.com/users/jbrown1276/likes","portfolio":"https://api.unsplash.com/users/jbrown1276/portfolio","following":"https://api.unsplash.com/users/jbrown1276/following","followers":"https://api.unsplash.com/users/jbrown1276/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-fb-1492788579-e070806fbd9c.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-fb-1492788579-e070806fbd9c.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-fb-1492788579-e070806fbd9c.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"jeffbrownphoto","total_collections":5,"total_likes":3,"total_photos":18,"accepted_tos":true},"tags":[{"type":"search","title":"milky
        way"},{"type":"search","title":"night"},{"type":"search","title":"camping"}]}]}'
  recorded_at: Sun, 07 Jun 2020 22:27:06 GMT
recorded_with: VCR 6.0.0
