---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=daytona%20beach,fl&key=AIzaSyD1Yizji4_OYad0wfCW2JZIohx2vT3flgg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Daytona Beach",
                       "short_name" : "Daytona Beach",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Volusia County",
                       "short_name" : "Volusia County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Florida",
                       "short_name" : "FL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Daytona Beach, FL, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 29.2930571,
                          "lng" : -80.9829099
                       },
                       "southwest" : {
                          "lat" : 29.12747599999999,
                          "lng" : -81.21030999999999
                       }
                    },
                    "location" : {
                       "lat" : 29.2108147,
                       "lng" : -81.0228331
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 29.2930571,
                          "lng" : -80.9829099
                       },
                       "southwest" : {
                          "lat" : 29.12747599999999,
                          "lng" : -81.21030999999999
                       }
                    }
                 },
                 "place_id" : "ChIJg1YCJZTb5ogR6yrLHbc7ajY",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 10 Jun 2020 02:12:24 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=Weather Key&exclude=minutely&lat=29.2108147&lon=-81.0228331&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":29.21,"lon":-81.02,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1591755287,"sunrise":1591698265,"sunset":1591748562,"temp":79.61,"feels_like":90.09,"pressure":1017,"humidity":100,"dew_point":79.61,"uvi":12.26,"clouds":75,"visibility":16093,"wind_speed":4.92,"wind_deg":105,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1591754400,"temp":79.61,"feels_like":90.09,"pressure":1017,"humidity":100,"dew_point":79.61,"clouds":75,"wind_speed":4.92,"wind_deg":105,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},{"dt":1591758000,"temp":79.02,"feels_like":88.05,"pressure":1017,"humidity":92,"dew_point":76.5,"clouds":87,"wind_speed":3.91,"wind_deg":146,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},{"dt":1591761600,"temp":78.75,"[...]
