---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=daytona%20beach,%20%20fl&key=<Geocode
      Key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Daytona Beach",
                       "short_name" : "Daytona Beach",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Volusia County",
                       "short_name" : "Volusia County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Florida",
                       "short_name" : "FL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Daytona Beach, FL, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 29.2930571,
                          "lng" : -80.9829099
                       },
                       "southwest" : {
                          "lat" : 29.12747599999999,
                          "lng" : -81.21030999999999
                       }
                    },
                    "location" : {
                       "lat" : 29.2108147,
                       "lng" : -81.0228331
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 29.2930571,
                          "lng" : -80.9829099
                       },
                       "southwest" : {
                          "lat" : 29.12747599999999,
                          "lng" : -81.21030999999999
                       }
                    }
                 },
                 "place_id" : "ChIJg1YCJZTb5ogR6yrLHbc7ajY",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 07 Jun 2020 17:43:29 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=Weather Key&exclude=minutely&lat=29.2108147&lon=-81.0228331&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":29.21,"lon":-81.02,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1591551810,"sunrise":1591525471,"sunset":1591575712,"temp":84.11,"feels_like":91.36,"pressure":1016,"humidity":83,"dew_point":78.39,"uvi":12.55,"clouds":90,"visibility":14484,"wind_speed":9.17,"wind_deg":200,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"rain":{"1h":1.15}},"hourly":[{"dt":1591549200,"temp":84.11,"feels_like":93.22,"pressure":1016,"humidity":83,"dew_point":78.39,"clouds":90,"wind_speed":5.88,"wind_deg":253,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0.76}},{"dt":1591552800,"temp":81.59,"feels_like":91.27,"pressure":1016,"humidity":81,"dew_point":75.18,"clouds":95,"wind_speed":1.39,"wind_deg":310,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"rain":{"1h":1.8}},{"d[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=daytona%20beach,%20%20fl&key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Mon, 08 Jun 2020 20:15:16 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=daytona%20beach,%20%20fl&key=AIzaSyD1Yizji4_OYad0wfCW2JZIohx2vT3flgg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components"[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=daytona%20beach,%20fl&key=AIzaSyD1Yizji4_OYad0wfCW2JZIohx2vT3flgg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [...]
