---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=daytona%20beach,%20fl&key=AIzaSyD1Yizji4_OYad0wfCW2JZIohx2vT3flgg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Daytona Beach",
                       "short_name" : "Daytona Beach",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Volusia County",
                       "short_name" : "Volusia County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Florida",
                       "short_name" : "FL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Daytona Beach, FL, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 29.2930571,
                          "lng" : -80.9829099
                       },
                       "southwest" : {
                          "lat" : 29.12747599999999,
                          "lng" : -81.21030999999999
                       }
                    },
                    "location" : {
                       "lat" : 29.2108147,
                       "lng" : -81.0228331
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 29.2930571,
                          "lng" : -80.9829099
                       },
                       "southwest" : {
                          "lat" : 29.12747599999999,
                          "lng" : -81.21030999999999
                       }
                    }
                 },
                 "place_id" : "ChIJg1YCJZTb5ogR6yrLHbc7ajY",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 07 Jun 2020 02:48:58 GMT
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=adf3c726f4cfb7f71063d6a883393b9c&exclude=minutely&lat=29.2108147&lon=-81.0228331&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":29.21,"lon":-81.02,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1591498019,"sunrise":1591439076,"sunset":1591489285,"temp":71.73,"feels_like":72.45,"pressure":1016,"humidity":100,"dew_point":71.73,"uvi":12.55,"clouds":90,"visibility":8047,"wind_speed":13.87,"wind_deg":180,"wind_gust":27.51,"weather":[{"id":502,"main":"Rain","description":"heavy
        intensity rain","icon":"10n"},{"id":211,"main":"Thunderstorm","description":"thunderstorm","icon":"11n"},{"id":701,"main":"Mist","description":"mist","icon":"50n"}],"rain":{"1h":5.2}},"hourly":[{"dt":1591495200,"temp":71.73,"feels_like":73.33,"pressure":1016,"humidity":100,"dew_point":71.73,"clouds":90,"wind_speed":12.3,"wind_deg":97,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"rain":{"1h":0.18}},{"dt":1591498800,"temp":73.2,"feels_like":73.63,"pressure":1016,"humidity":94,"dew_point":71.37,"clouds":95,"wind_speed":14.05,"wind_deg":98,"weather":[{"id":502,"main":"Rain","description":"heavy
        intensity rain","icon":"10n"}],"rain":{"1h":9.5[...]
